[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
install = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg = "*"
python-multipart = "*"
wheel = "*"
sentry = "*"
twilio = "*"
sqlalchemy = "*"
alembic = "*"
databases = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.8"
